<h1>About Author</h1>
<h2>Bio: </h2>
<div class='generalText'>
   <p>I'm an ex-Navy sailor studying computer science (systems option) at Oregon State University. During my time in the Navy 
      I served as an IT onboard a fast attack submarine for 4 years and at a submarine support command for another four. While
      I enjoyed my work as an IT, I had always thought that a computer science career sounded a great deal more interesting. For
      this reason, I decided to pursue a degree rather than re-enlist again.</p>
</div>
<div class='generalText'>In case of an overwhelming urge to hire me, feel free to download my resume 
<form method='get' action='/downloads/resume.pdf'>
   <button class='buttons' type='submit'>here</button>
</form>
</div>
