<h1>Frequently asked questions</h1>
<div class='qna'>
Q: What is Arch Linux?<br>
A: To put it simply, It's a DIY distrabution of Linux, which 
   means you call the shots.<br>
<br>
Q: I don't know how to program. Can I still use Arch Linux?<br>
A: Sure, as long as you're willing to learn new things and 
   put in a little elbow grease.<br>
<br>
Q: I've got a paper due in an hour, is now a good time to install Arch Linux?<br>
A: That depends, are you a L337 hacker? If no, then it's probably best to give
   yourself several hours to complet the process. Especially if you're new to
   Arch Linux.
</div>
