<h1>Getting started with Arch Linux</h1>
<h2 class='generalText'>Instructions this page will provide</h2>
<ul class='generalText'>
  <li>Arch Linux image aquisition</li>
  <li>Creation of a bootable disc or thumbdrive</li>
  <li>Identification of BIOS or EFI motherboard</li>
  <li>Preparation for dual booting(if desired)</li>
  <li>Setting hwclock</li>
  <li>Creation of partition table</li>
  <li>Disk partitioning</li>
  <li>Configuring a bootloader</li>
  <li>Installation of base operating system</li>
  <li>Installation of desktop environment(if desired)</li>
</ul> 
<div class='generalText'>
Details on each of these topics can be found at <a href='https://www.archlinux.org/'>www.archlinux.org</a>
</div>
