<h1>Arch Linux: Welcome ~/</h1>
<p>Like Linux but bored with more "User Friendly" distributions? Like tinkering with things and getting all up in the guts of your operating system?
   Enjoy having full control of your operating system and knowledge anything and everything that is installed? Arch Linux might be for you! For starters,
   feast your eyes on these tasty screenshots, exhibiting just one of the many ways that you could customize your system with Arch Linux. The slides feature 
   the Gnome desktop environment, as well as, such applicationas as: Steam (a popular gaming client), Libre Office (like Microsoft Office but
   much cheaper...it's free), and Gimp (similar to PhotoShop and also free). </p>

<div id="archSlide" class="carousel slide" data-ride="carousel">

  <ul class='carousel-indicators'>
    <li data-target='#archSlide' data-slide-to='0' class='active'></li>
    <li data-target='#archSlide' data-slide-to='1'></li>
    <li data-target='#archSlide' data-slide-to='2'></li>
    <li data-target='#archSlide' data-slide-to='3'></li>
  </ul>
  
  <div class='carousel-inner'>
    <div class='carousel-item active'>
      <img src='photos/steam.png' alt='Steam on Arch Linux' width='1100' height='500'>
    </div>
    <div class='carousel-item'>
      <img src='photos/productivity.png' alt='Productivity Tools on Arch Linux' width='1100' height='500'>
    </div>
    <div class='carousel-item'>
      <img src='photos/workflow.png' alt='Arch Linux Work Environment' width='1100' height='500'>
    </div>
    <div class='carousel-item'>
      <img src='photos/desktopFeatures.png' alt='Overall feel of Arch Linux' width='1100' height='500'>
    </div>
  </div>
  
  <a class='carousel-control-prev' href='#archSlide' data-slide='prev'>
    <span class='carousel-control-prev-icon'></span>
  </a>
  <a class='carousel-control-next' href='#archSlide' data-slide='next'>
    <span class='carousel-control-next-icon'></span>
  </a>
</div>
<h3>Notice:</h3>
<div class='scrollBox'>Although this site still under construction, once completed, users will be able to obtain usefull information regarding Arch Linux,
   including but not limited to: Characteristics that set Arch Linux apart from other operating systems and distrabutions, customizable step by step 
   instructions on how to install and configure Arch Linux, and suggestions on how to effectively manage your new system. The ultimate goal is to provide
   a service that allows users to specify their hardware and desired configuration in order to receive simple and clear setup instructions that are custom
   taylored to their wants and needs. In the mean time, please use the navigation bar at the top of the screen to see what has been made available thus far.
   Be sure to check back regularly for future developments.</div>
