body {
   background-image:url('archWall.png');
   background-repeat:no-repeat;
   background-position:center top;
   background-position:absolute;
}

#BGcitation {
   color:red;
   position:absolute;
   bottom:8px;
   right:16px;
}

ul {
   list-style-type:none;
   margin:0;
   padding:0;
   overflow:hidden;
   background-color:#505050;
}

li {
   float:left;
}

li a {
   display:block;
   color:#1793d0;
   text-align:center;
   padding:1em 1em;
   text-decoration:none;
}

li a:hover {
   background-color:#1793d0;
   color:white;
}

h1 {
   color:#1793d0;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
   width:70%;
   margin:auto;
}
