body {
   background-image:url('archWall.png');
   background-repeat:no-repeat;
   background-position:center top;
   background-position:absolute;
}

#BGcitation {
   color:red;
   position:absolute;
   bottom:8px;
   right:16px;
}

.navBar {
   list-style-type:none;
   margin:0;
   padding:0;
   overflow:hidden;
   background-color:#505050;
}

li a {
   float:left;
   display:block;
   color:#1793d0;
   text-align:center;
   padding:1em 1em;
   text-decoration:none;
}

li a:hover {
   background-color:#1793d0;
   color:white;
}

h1 {
   color:#1793d0;
}

.carousel-inner img {
   width:100%;
   height:100%;
}

p {
   color:#1793d0;
   padding: 3em 1em;
}

h3 {
   color:red;
}

.scrollBox {
   color:#1793d0;
   padding: 3em 1em;
   width: 700px;
   height: 200px;
   overflow:scroll;
   position:center;
   border:inset;
}

.generalText {
   color:#1793d0;
}

a {
   color:white;
}
